.home-page {
  padding-top: 50px;
}

.home-page-item {
  margin-bottom: 16px;
  position: relative;
  width: calc(~'33.333333333% - 20px');
  float: left;
  margin: 10px;

  .ant-card-hoverable {
    cursor: initial;
  }
}

.home-page-item-image-container {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.home-page-item-content {
  padding: 30px;
}

.home-page-item-title {
  font-size: 22px;
  margin-bottom: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.home-page-item-description {
  margin-bottom: 25px;
  font-weight: 300;
  line-height: 22px;
}

.home-item-name-icon {
  width: calc(~'100% - 32px');
  margin: 15px auto 0;
  .clearfix;

  &.absolute {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 15px;
    margin: 0;
  }
}

.home-page-item-name {
  height: 40px;
  line-height: 40px;
  font-weight: 900;
  float: left;
}

.home-page-item-icon {
  background-color: @color-main-background;
  font-size: 18px;
  padding: 7px;
  line-height: 1;
  border-radius: 5px;
  float: right;
}

.home-page-title-wrapper {
  .clearfix;
  margin-bottom: 20px;
}

.home-page-title {
  float: left;
}

.home-page-search {
  float: right;
  border: 0;
  padding: 10px 15px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  outline: 0;
}

.home-page-sort {
  padding: 10px 15px;
  float: right;
  border: 0;
  background-color: #fff;
  color: #000;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}

.home-page-item-tags {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: @color-main-contrast2;
}

.home-page-item-button {
  cursor: pointer;
  border: 0;
  background-color: @color-main-contrast2;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 25px;
  transition: .3s background-color;
  outline: none;

  &:hover {
    background-color: darken(@color-main-contrast2, 10%);
  }
}

.home-page-item-tag {
  display: inline-block;
  margin-right: 5px;

  &::after {
    content: ','
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: ''
    }
  }
}
