.home-page {
  padding-top: 50px;
  padding-bottom: 100px;
  .clearfix;
}

.home-page-item {
  margin-bottom: 16px;
  position: relative;
  width: calc(~'33.333333333% - 20px');
  float: left;
  margin: 10px;
  cursor: pointer;

  .ant-card {
    border-radius: 8px;
  }

  @media only screen and (max-width: 992px) {
    width: calc(~'50% - 20px');
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.home-page-item-image-container {
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  img {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.home-page-item-content {
  padding: 30px;
}

.home-page-item-title {
  font-size: 21px;
  margin-bottom: 13px;
  line-height: 1.1;
  font-weight: 500;
  font-family: @font-headers;
  text-transform: capitalize;
  color: #000;
  cursor: pointer;
}

.home-page-item-description {
  margin-bottom: 25px;
  font-weight: 300;
  line-height: 22px;
  font-family: inherit;
}

.home-item-name-icon {
  width: calc(~'100% - 32px');
  margin: 15px auto 0;
  .clearfix;

  &.absolute {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 15px;
    margin: 0;
  }
}

.home-page-item-name {
  height: 40px;
  line-height: 40px;
  font-weight: 900;
  float: left;
}

.home-page-item-icon {
  background-color: @color-main-background;
  font-size: 18px;
  padding: 7px;
  line-height: 1;
  border-radius: 5px;
  float: right;
}

.home-page-sort {
  padding: 8px 15px;
  float: right;
  border: 0;
  background-color: #fff;
  color: #000;
  outline: none;
  cursor: pointer;
  height: auto;
}

.home-page-item-tags {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.home-page-item-tag {
  display: inline-block;
  margin-right: 5px;

  &::after {
    content: ','
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: ''
    }
  }
}

.home-page-search {
  border: 0;
  padding: 5px 15px;
  outline: 0;
  border: 1px solid @color-main-background;
  display: inline-block;
  margin-right: 15px;
}

.home-page-filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.home-page-tags {
  > .ant-tag-checkable {
    padding: 8px 15px;
    border: 0;
    background-color: #fff;
    color: #000;
    outline: none;
    margin-right: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    height: auto;

    &:hover {
      color: #000;
    }

    &.ant-tag-checkable-checked {
      color: #fff;
    }
  }

  @media only screen and (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.home-page-item-like {
  font-size: 18px;
  float: right;
  cursor: pointer;
  background-color: @color-main-background;
  border-radius: 5px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  min-width: 70px;
  height: 35px;

  > span {
    font-size: 14px;
    margin-left: 7px;
    line-height: 1;
  }
}
